@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/* 5 same style elements*/
body {
      background-color:  lightyellow;
      text-align: center;
      border:bleu;
ul{
  list-style-type: none;

}

h1 {
    color: red;
    text-align: center;
    font-family: Cambria,Arial;
    font-size: 25px;
    font-style: italic;
}
h4 {
  color: red;
  text-align: center;
  font-family: Cambria,Arial;
  font-size: 10px;
  font-style: italic;
}
h3 {
    color: red;
    text-align: center;
    font-family: Cambria,Arial;
    font-size: 24px;
    font-style: italic;
}

p {
   text-align: center;
   font-family: Cambria,Arial;
   font-size: 20px;
   font-style: normal;
   color: blue;
	
}
h2 {
    text-align: center;
    font-family: Cambria,Arial;
    font-size: 25px;
    font-style: normal; 
    color: red;
}
strong{
       text-align: center;
       font-family: Cambria,Arial;
       font-size: 20px;
       font-style: normal; 
       color: red;
}
ul {
    list-style-type: rectangular;
    color: blue;
    text-align: center;
   
}
img {
	padding: 30px 60px 90px 120px;
}
embed{
	padding: 30px 120px 30px 650px;
}
nav{
     
     margin: 0;
     text-align: center;
     font-family: Cambria,Arial;
    
  

nav li {
	display: inline;
	text-align: center;
}

nav ul {
  	text-align: center;
	display: inline;
}

footer{
  clear: both;
  position: fixed;
  width: 100%;
  margin: 0px 0 0 0;
  line-height: 20px;
  bottom: 0px;
  font-family: Arial;
  color: black;
  
}
